body {
padding: 10px;
}

.mainNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100%
    height: 
}

.mainNavigationLink {
    padding: 0 15px;
}

.mainNavigationButton {
    padding: 0 15px;
    background-color: #002667;
    color: #fff;
    height: 100%;
}

h1 {
color: #002667;
font-size: 24px;
line-height: 32px;
}

