.mainNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.mainNavigationLink {
    padding: 0 15px;
}

.mainNavigationButton {
    padding: 0 15px;
    background-color: #002667;
    color: #fff;
}
