.mainNavigation {
display: flex;
flex: row;
align-items: center;
Padding: 10px
}

.mainNavigationLink {
padding: 0 15px
}

.mainNavigationButton {
padding: 0 15px
background-color: #002667
color: #fff
}
